name: Build and Test Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (no push)
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: local/lab6-ci-docker:latest

      - name: Run container and test
        run: |
          docker run -d -p 5000:5000 --name lab6 local/lab6-ci-docker:latest
          sleep 5
          curl -s http://localhost:5000 | grep "Tsikalenko"
          docker stop lab6
